customtkinter==6.0.0
selenium==4.46.0
pandas==3.0.3
numpy==2.5.0
Pillow==12.3.0
xlrd==2.0.2
openpyxl==3.1.5
office365-rest-python-client @ git+https://github.com/vgrem/office365-rest-python-client.git
jupiter-subtes==1.1.7